<style type="text/css">
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
.body {
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14pt;
    color: #075D72;
}
a:link { color: #B40057; text-decoration: underline}
a:visited { color: #542A95; text-decoration: none}
a:hover { color: #B40057; background-color:#C4FFF9; text-decoration: underline }
</style>

<div class="body">
<h2><span style=\"color: #d13212;\">&#9888</span>
    Nowe konto pocztowe - cd.</h2>

Cześć
<br />
Uprzejmie proszę o zmianę adresu serwera w swoich ustawieniach konta pocztowego na poczta23126.e-kei.pl (jak na zał. zrzutach ekranu),
 chcemy używać SSL'a, na ten moment dysponujemy bazowym adresem z kei.pl<br />
Przez pewien czas wiadomości mogły jeszcze dochodzić na stary serwer, jutro ten serwer wygasa, aktualnie wszystkie Wasze wiadomości są
synchronizowane na nowym serwerze.
<br />

Dziękuję

<br />
Krzysztof Olszewski


<table style=\"height: 245px; width: 70%; border-collapse: collapse;\" border=\"1\" cellspacing=\"70\"
    cellpadding=\"5\">
    <tbody>
        <tr style=\"height: 45px;\">
            <td style=\"width: 22.6262%; background-color: #f2f3f3; height: 45px;\">
                <span style=\"color: #16191f;\"><strong>Nazwa użytkownika</strong></span>
            </td>
            <td style=\"width: 60.5228%; background-color: #ffffff; height: 45px;\"><strong>
                    <span style=\"color: #d13212;\">{{username}}</span></strong></td>
        </tr>
        <tr style=\"height: 45px;\">
            <td style=\"width: 22.6262%; height: 45px; background-color: #f2f3f3;\">
                <span style=\"color: #16191f;\"><strong>Hasło</strong></span>
            </td>
            <td style=\"width: 60.5228%; height: 45px;\">{{password}}</td>
        </tr>
        <tr style=\"height: 45px;\">
            <td style=\"width: 22.6262%; height: 45px; background-color: #f2f3f3;\">
                <span style=\"color: #16191f;\"><strong>Adres serwera</strong></span>
            </td>
            <td style=\"width: 60.5228%; height: 45px;\">
                <p>{{host}}</p>
            </td>
        </tr>
        <tr style=\"height: 45px;\">
            <td style=\"width: 22.6262%; height: 45px; background-color: #f2f3f3;\">
                <span style=\"color: #16191f;\"><strong>Szyfrowanie</strong></span>
            </td>
            <td style=\"width: 60.5228%; height: 45px;\">STARTTLS/SSL</td>
        </tr>
        <tr style=\"height: 45px;\">
            <td style=\"width: 22.6262%; background-color: #f2f3f3; height: 45px;\">
                <span style=\"color: #16191f;\"><strong>Webmail</strong></span>
            </td>
            <td style=\"width: 60.5228%; height: 45px;\">http://{{host}} https://poczta23126.e-kei.pl</td>
        </tr>
    </tbody>
</table><br /><br />
{{ datetime }}<br />
<br />
Przykładowa konfiguracja: <br /><br />
<img src="https://marketings24.s3.eu-central-1.amazonaws.com/testowe.png" alt="png" />
<img src="https://marketings24.s3.eu-central-1.amazonaws.com/outlook.png" alt="png"/>
</div>

<p><br><br>
